.nunito-900 {
  font-family: Nunito, sans-serif;
  font-weight: 900;
}

.nunito-800 {
  font-family: Nunito, sans-serif;
  font-weight: 800;
}

.varela-round {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(234deg) brightness(103%) contrast(103%);
}

.fixed {
  position: fixed;
}

.active {
  color: #a9cec2;
}

.inactive {
  color: white;
}

.test {
  background-color: lightcoral;
}

.no-scroll {
  overflow: hidden;
}

.opacity-0 {
  opacity: 0%;
}

.opacity-1 {
  opacity: 100%;
}

.trans-1 {
  transition: opacity 1s ease-in;
}

.trans-2 {
  transition: opacity 1.25s ease-in;
}

.trans-3 {
  transition: opacity 1.5s ease-in;
}

.trans-4 {
  transition: opacity 1.75s ease-in;
}

.trans-5 {
  transition: opacity 2s ease-in;
}

.trans-6 {
  transition: opacity 2.25s ease-in;
}

.trans-7 {
  transition: opacity 2.5s ease-in;
}

.trans-8 {
  transition: opacity 2.75s ease-in;
}
