.nunito-900 {
  font-family: Nunito, sans-serif;
  font-weight: 900;
}

.nunito-800 {
  font-family: Nunito, sans-serif;
  font-weight: 800;
}

.varela-round {
  font-family: Varela-Round, sans-serif;
  font-weight: 400;
}
