body {
  position: relative;
  background-color: #171717;
}

/* ----------NAVIGATION---------- */

.navigation-container {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
}

.navigation-container > h1,
i {
  color: white;
}

.navigation-container > h1 {
  cursor: default;
  font-size: 20px;
}

.navigation-container > i {
  cursor: pointer;
}

.navigation-list {
  display: none;
  color: white;
  padding: 0;
  list-style: none;
}

.navigation-list > li {
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
}

.navigation-modal {
  position: absolute;
  background-color: #171717;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-list-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
  list-style: none;
}

.navigation-list-modal > li {
  cursor: pointer;
  font-size: 24px;
  padding-top: 40px;
}

/* ----------HOME---------- */

.home {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.home > img {
  height: 225px;
  width: 225px;
}

.home > h1 {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  color: white;
}

.home span {
  color: #a9cec2;
}

/* ----------PSEUDO CLASSES---------- */

.navigation-container > i:hover,
.navigation-container > h1:hover {
  color: #a9cec2;
}

.navigation-list > li:hover,
.navigation-list-modal > li:hover {
  color: #a9cec2;
}

/* ----------MEDIA QUERIES---------- */

@media only screen and (min-width: 576px) {
  .home > h1 {
    font-size: 30px;
  }

  .home > img {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .navigation-container > i {
    display: none;
  }

  .navigation-modal {
    display: none;
  }

  .navigation-list {
    display: flex;
  }

  .home > img {
    height: 325px;
    width: 325px;
  }
}

@media only screen and (min-width: 992px) {
  .navigation-list > li {
    font-size: 16px;
  }

  .home > h1 {
    font-size: 32px;
  }

  .home > img {
    height: 350px;
    width: 350px;
  }
}

/* @media only screen and (min-width: 1200px) {

} */
