body {
  position: relative;
  background-color: #171717;
}

/* ----------NAVIGATION---------- */

.navigation-container {
  /* position: fixed; */
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 30px;
  background-color: #171717;

  /* border-bottom: 1px solid white; */
}

.navigation-container > h1,
i {
  color: white;
}

.navigation-container > h1 {
  cursor: default;
  font-size: 20px;
}

.navigation-container > i {
  cursor: pointer;
}

.navigation-list {
  display: none;
  color: white;
  padding: 0;
  list-style: none;
}

.navigation-list > li {
  padding: 0 10px;
  font-size: 14px;
}

.navigation-modal {
  position: fixed;
  background-color: #171717;
  top: 0;
  bottom: 0;
  right: -100vw;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.view {
  right: 0;
}

.navigation-list-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
  list-style: none;
}

.navigation-list-modal > li {
  padding-top: 40px;
  font-size: 24px;
}

.navigation-list-modal a,
.navigation-list a {
  cursor: pointer;
}

/* ----------HOME---------- */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.home > img {
  height: 225px;
  width: 225px;
}

.home > h1 {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  color: white;
}

.home span {
  color: #a9cec2;
}

/* ----------ABOUT---------- */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.about-text-container {
  width: 70%;
  background-color: white;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 16px;
}

.about-button-container {
  text-align: center;
  padding: 10px 0;
}

.about-button-container > button {
  background-color: #a9cec2;
  color: white;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 100px;
  font-size: 18px;
  cursor: pointer;
}

/* ----------PSEUDO CLASSES---------- */

.navigation-container > i:hover,
.navigation-container > h1:hover {
  color: #a9cec2;
}

.navigation-list a:hover,
.navigation-list-modal a:hover {
  color: #a9cec2;
}

.about-button-container > button:hover {
  filter: brightness(105%);
}

/* ----------MEDIA QUERIES---------- */

@media only screen and (min-width: 576px) {
  .home > h1 {
    font-size: 30px;
  }

  .home > img {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .navigation-container > i {
    display: none;
  }

  .navigation-modal {
    display: none;
  }

  .navigation-list {
    display: flex;
  }

  .home > img {
    height: 325px;
    width: 325px;
  }

  .about-text-container {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .navigation-list > li {
    font-size: 16px;
  }

  .home > h1 {
    font-size: 32px;
  }

  .home > img {
    height: 350px;
    width: 350px;
  }

  .about-text-container {
    font-size: 20px;
  }
}

/* @media only screen and (min-width: 1200px) {

} */
